@font-face {
  font-family: "SpaceGrotesk";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/static/SpaceGrotesk-Light.ttf") format("truetype");
}

@font-face {
  font-family: "SpaceGrotesk";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/static/SpaceGrotesk-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SpaceGrotesk";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/static/SpaceGrotesk-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "SpaceGrotesk";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/static/SpaceGrotesk-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "SpaceGrotesk";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/static/SpaceGrotesk-Bold.ttf") format("truetype");
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(243, 198, 226);

  .panel {
    display: flex;
    flex-direction: row;

    .left-panel {
      position: relative;

      .card-back,
      .card-front {
        position: absolute;
      }

      .card-back {
        top: 55%;
        right: -300px;
      }

      .card-front {
        top: 20%;
        right: -200px;
      }
    }
  }

  .panel-white {
    height: 100%;
    width: 1540px;
    background-color: white;
    margin-left: 0;
  }

  .right-section {
    width: 60%;
    padding-left: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }

  /* Formulario */
  .card-form {
    width: 500px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    font-family: "SpaceGrotesk";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #21092f;
    margin-bottom: 5px;
    display: block;
  }

  .form-group input {
    width: 73%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    font-family: "SpaceGrotesk";
    font-style: normal;
    font-weight: 400;
  }

  input::placeholder {
    color: #a9a9a9;
    opacity: 1;
    padding-left: 2px;
  }

  .small-inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .exp-cvc-header {
    display: flex;
    justify-content: flex-start;
    gap: 55px;
  }

  .exp-cvc-header label {
    font-family: 'SpaceGrotesk', sans-serif;
    font-weight: 600;
    margin-bottom: 4px;
    font-size: 14px;
  }

  .exp-cvc-row {
    display: flex;
    gap: 15px;
  }

  .exp-date {
    display: flex;
    gap: 8px;
  }

  .input-mm,
  .input-yy {
    width: 55px !important;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 12px;
    text-align: left;
  }

  .cvc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .input-cvc {
    width: 188px !important;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 12px;
    text-align: left;
  }

  ::ng-deep .confirm-btn .p-button {
    width: 387px !important;
    margin-top: 20px !important;
    display: block !important;
    font-family: "SpaceGrotesk" !important;
    font-style: normal !important;
    font-weight: 400 !important;
    border-radius: 8px !important;
    font-size: 16px !important;
    padding: 10px !important;
    background-color: #21092f !important;
    color: white !important;
    border: none !important;
    cursor: pointer !important;
  }

  ::ng-deep .confirm-btn .p-button:hover {
    background-color: #3e2a5e !important;
  }

  ::ng-deep .confirm-btn .p-button[disabled] {
    background-color: hsl(0, 0%, 80%) !important;
    cursor: not-allowed;
  }
}