<div class="card-container">
  <div class="panel">
    <div class="panel panel-white">
      <div class="left-panel">
        <img src="/bg-main-desktop.png" width="450px" height="100%" />
        <img src="/cardBack.png" class="card-back" />
        <img src="/cardFront.png" class="card-front" />
      </div>
      <div class="right-section">
        <form class="card-form" [formGroup]="cardForm">
          <div class="form-group">
            <label for="cardholder-name">CARDHOLDER NAME
              <input type="text" id="cardholder-name" placeholder="e.g. Jane Appleseed" formControlName="cardName">
              <div *ngIf="cardForm.get('cardName')?.invalid && cardForm.get('cardName')?.touched" class="error">
                This field is required.
              </div>
            </label>
          </div>
          <div class="form-group">
            <label for="card-number">CARD NUMBER</label>
            <input type="text" id="card-number" placeholder="e.g. 1234 5678 9123 0000">
          </div>
          <div class="form-group small-inputs">
            <div class="exp-cvc-header">
              <label for="exp-date">EXP. DATE (MM/YY)</label>
              <label for="cvc" class="cvc-label">CVC</label>
            </div>
            <div class="exp-cvc-row">
              <div class="exp-date">
                <input type="text" placeholder="MM" class="input-mm">
                <input type="text" placeholder="YY" class="input-yy">
              </div>
              <div class="cvc">
                <input type="text" placeholder="e.g. 123" class="input-cvc">
              </div>
            </div>
          </div>
          <p-button label="Confirm" class="confirm-btn" [disabled]="!cardForm.valid" (click)="onSubmit()"></p-button>
        </form>
      </div>
    </div>
  </div>
</div>